target/
.DS_Store
.classpath
.project
.settings/
*.iml
*.ipr
*.iws
keystore
/kevoree-tools/org.kevoree.tools.annotation.mavenplugin/target/
/kevoree-tools/org.kevoree.tools.annotation.api/target/
/kevoree-tools/org.kevoree.tools.annotation.processor/target/
/kevoree-tools/org.kevoree.tools.model2code/target/
/kevoree-core/org.kevoree.merger/target/