**bin/
**.svn/
target/
.DS_Store
keystore
**.classpath
**.project
**.settings/
**.iml
**.ipr
**.iws
**.idea/
**target/
**.externalToolBuilders
**seed.txt
**nbactions.xml
**.log
**log*.txt
**maven-eclipse.xml
**/model/
**/.scala_dependencies
**~
**.hprof
**dependency-reduced-pom.xml

