**bin/
.svn
**/.svn
target/
.DS_Store
keystore
**.classpath
**.project
**.settings/
**.iml
**.ipr
**.iws
**.idea/
**target/
**.externalToolBuilders
**seed.txt
**nbactions.xml
**maven-eclipse.xml
**/.scala_dependencies
**~
**.hprof
