body{ font-size:12pt; font-family:arial,helvetica,sans-serif; }

.markdownSyntax{text-align:left; color:black; }
.markdownSyntaxCenter{text-align:center; color:black; }
.left {text-align:left};


#main { margin:0px auto 0px auto; border:20pt solid #EFEFEF; }
#ControlButtons {text-align:center; }
#ControlButtons button{ font-size:13pt;}

A:link  { color : #0000FF; 	text-decoration : none; }
A:visited  {	color : #0000FF; 	text-decoration:none; }
A:active  {	color : #666666; text-decoration : none; }
A:Hover  { color : #0000FF; text-decoration:underline; }
h2, h3 { text-align:center; }
h4 { margin:20px 4px 4px 4px; text-align:center; } 
pre {white-space:pre-wrap;  }

.width300pix { width:300px; margin:0px auto 0px auto; text-align:center; }
.header {background:#ccccff; padding:4px; cursor:pointer; margin:10px 5px 5px 5px; border-radius:15px; }
.tag{color:#0000FF;}
.mdtag{color:green;}

.ThinListTable{ list-style-type:none; padding:0px; border-top:1pt solid #736F6E; border-left:1pt solid #736F6E; border-right:1pt solid #736F6E; letter-spacing:; font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; text-align:left;  margin:0px auto 0px auto;}
.ThinListTable li{ border-bottom:1px solid #736F6E; padding:4px; margin:auto;}

.ContentsTable{ list-style-type:none; padding:0px;  font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; text-align:center; margin:0px auto 0px auto; width:60%; font-size:13pt;}
.ContentsTable li{ padding:4px; margin:auto;}
.ContentsTable li:hover{ background:#F8F8F8; }


