    body {
        overflow: hidden;
    }

    #editor {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 250;
        right: 0;
    }

    #files {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 250px; !important
            height: 100%;
    }
    #pdfview {
                margin: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 250;
                width: 250px; !important
                height: 100%;

    }