# This file contains the fuse settings for uploading sketches 
# with a In-System-Programmer
#
# The list of supported targets is based on the 
# boards.txt file of the Arduino-0017RC2 

atmega328.isp.low_fuses=0xff
atmega328.isp.high_fuses=0xdb
atmega328.isp.extended_fuses=0x05
 
diecimila.isp.low_fuses=0xff
diecimila.isp.high_fuses=0xdd
diecimila.isp.extended_fuses=0xf9
 
mega.isp.low_fuses=0xff
mega.isp.high_fuses=0xdb
mega.isp.extended_fuses=0xf5
 
mini.isp.low_fuses=0xff
mini.isp.high_fuses=0xdd
mini.isp.extended_fuses=0xf9
 
bt.isp.low_fuses=0xff
bt.isp.high_fuses=0xdd
bt.isp.extended_fuses=0xf9
 
lilypad328.isp.low_fuses=0xff
lilypad328.isp.high_fuses=0xdb
lilypad328.isp.extended_fuses=0x05
 
lilypad.isp.low_fuses=0xe2
lilypad.isp.high_fuses=0xdd
lilypad.isp.extended_fuses=0xf9
 
pro328.isp.low_fuses=0xff
pro328.isp.high_fuses=0xdb
pro328.isp.extended_fuses=0x05
 
pro.isp.low_fuses=0xc6
pro.isp.high_fuses=0xdd
pro.isp.extended_fuses=0xF9
 
atmega168.isp.low_fuses=0xff
atmega168.isp.high_fuses=0xdd
atmega168.isp.extended_fuses=0xF9
 
atmega8.isp.low_fuses=0xdf
atmega8.isp.high_fuses=0xcb

#this key existed up until arduino-0016 
#from 0017 the nano with atmeag168 is defined  
#alongside the diecimila key. 
nano.isp.low_fuses=0xff
nano.isp.high_fuses=0xdd
nano.isp.extended_fuses=0xf9