/maven-eclipse.xml
/.scala_dependencies
/pom.xml~
/*.cache
/.externalToolBuilders/
/hs_err_pid1107.log
/hs_err_pid1548.log
/hs_err_pid2253.log
/hs_err_pid23727.log
/hs_err_pid23898.log
/hs_err_pid24258.log
/hs_err_pid24647.log
/hs_err_pid2587.log
/hs_err_pid26419.log
/hs_err_pid26667.log
/hs_err_pid26920.log
/hs_err_pid27185.log
/hs_err_pid27440.log
/hs_err_pid27691.log
/hs_err_pid27941.log
/hs_err_pid28196.log
/hs_err_pid28445.log
/hs_err_pid32208.log
/hs_err_pid32231.log
/hs_err_pid3942.log
/hs_err_pid4446.log
/hs_err_pid4650.log
/hs_err_pid509.log
/hs_err_pid5952.log
/hs_err_pid6720.log
/hs_err_pid7232.log
/hs_err_pid7707.log
/hs_err_pid797.log
/hs_err_pid8442.log
